.content{
    height:120vh;
    width:99.7vw;
    margin-left:-1vw;
    margin-top:-1.3vh;
}
.meny{
    height:15%;
    width:100%;
    background-color: rgb(228, 228, 228);
}
.logga{
    position: absolute;
    margin-left:1%;
    margin-top:1.2%;
}
.bild{
    width:13%;
}
.sokruta{
    position: absolute;
    margin-top:6vh;
    margin-left:40vw;
}
.sok{
    position: absolute;
    width:40vw;
    height:5vh;
}
.varukorg{
    position: absolute;
    margin-left:90vw;
    margin-top:5vh;
    font-size:100%;
}
.menu{
    position: absolute;
    width:50vw;
    height:5vh;
    margin-left:30vw;
    margin-top:12.7vh;
    background-color:white;
    border-style: solid;
    border-width: 0.1px 0.1px 0.1px 0.1px;
    border-bottom-color: rgba(233, 233, 233, 0.753);
}
.loggain{
    position: absolute;
    margin-top:-0.7%;
    margin-left:2%;
    text-decoration: none;
}
.loggain :hover{
    position: absolute;
    text-decoration: underline;
    width:5vw;
}
.kategorier{
    margin-left:1vw;
}
ul.breadcrumbs{
    position: absolute;
    list-style:none;
    margin-top:-7vh;
    margin-left:21vw;
}
ul.breadcrumbs li{
    float:left;
    display: inline;
    
}
ul.breadcrumbs li+li:before{
    padding:4px;
    color:black;
    content: ">";

}
.produkter{
    position: relative;
    width:80%;
    margin-left:19.9vw;
    margin-top:-7.2vh;
    min-height:1vh;
}
.lada{
    width:13vw;
    float:left;
    height:40vh;
    margin-left:4vw;
    margin-top:7vh;
    background-color: rgba(247, 247, 247, 0.863);
    transition: box-shadow 0.6s ease-in-out;
}
.lada:hover{
    box-shadow: 2px 2px 20px rgba(87, 87, 87, 0.747) ;
}
.ruta{
    width:90%;
    height:50%;
    margin-left:0.68vw;
    margin-top:1vh;
}
.namn{
    margin-left:0.7vw;
}
.pris{
    margin-top:2vh;
    margin-left:0.7vw;
}