body{
    height:100%;
    width:90%;
}
.menu{
    width:20%;
    left:3%;
    top:60px;
    position:relative;
}
.menu a{
    background-color:#eee;
    color:black;
    display:block;
    padding:12px;
    text-decoration:none;
}
.menu a:hover{
    background-color: #ccc;
}
.menu a:active{
    background-color:blue;
    color:white;
}
.h2{
    background-color:#eee;
    display:block;
    width:20%;
    top:80px;
    position:relative;
    left:3%;
}