body{
    height:100vh;
    width:90vw;
    padding:0;
    margin:0;
}
.menu{
    width:18vw;
    left:3%;
    top:-127vh;
    position:relative;
}
.menu a{
    background-color:#eee;
    color:black;
    display:block;
    padding:12px;
    text-decoration:none;
}
.menu a:hover{
    background-color: #ccc;
}
.menu a:active{
    background-color:blue;
    color:white;
}
.h2{
    background-color:#eee;
    display:block;
    width:18vw;
    top:-123.4vh;
    position:relative;
    left:3%;
}
.produkter{
    height:100vh;
    width:75vw;
    background-color:lightgray;
    position:relative;
    top:-14.3vh;
    left:20.8vw;
    outline-style: solid;
}
.topmenu{
    width:10vw;
    height:5vh;
    left:31vw;
    top:1vh;
    position:relative;
}
.topmenu a{
    text-decoration:none;
    font-size:22px;
    color:black;
    background-color:#eee;
    display:block;
}
.topmenu2{
    width:10vw;
    height:5vh;
    left:53.5vw;
    top:-4vh;
    position:relative;
}
.topmenu2 a{
    text-decoration:none;
    font-size:22px;
    color:black;
    background-color:#eee;
    display:block;
}
.topmenu3{
    width:10vw;
    height:5vh;
    left:75vw;
    top:-9vh;
    position:relative;
}
.topmenu3 a{
    text-decoration:none;
    font-size:22px;
    color:black;
    background-color:#eee;
    display:block;
}
.menubackground{
    width:75vw;
    height:5vh;
    top:-14.7vh;
    left:20.8vw;
    position:relative;
    outline-style:solid;
    background-color:#eee;
    z-index:-1;
}
.top{
    width:93.4vw;
    height:15vh;
    background-color:lightgray;
    position:relative;
    left:2.6vw;
}
.sokruta{
    position: absolute;
    margin-top:6vh;
    margin-left:40vw;
}
.sok{
    position: absolute;
    width:40vw;
    height:5vh;