@font-face{
    font-family: text;
    src:url(BalsamiqSans-Bold.ttf);
}
body{
    height:100vh;
    width:90vw;
    padding:0;
    margin:0;
}
.menu{
    width:18vw;
    left:3%;
    top:-168vh;
    position:relative;
}
.menu a{
    background-color:#eee;
    color:black;
    display:block;
    padding:12px;
    text-decoration:none;
}
.menu a:hover{
    background-color: #ccc;
}
.menu a:active{
    background-color:blue;
    color:white;
}
.h2{
    background-color:#eee;
    display:block;
    width:18vw;
    top:-166vh;
    position:relative;
    left:3%;
}
.produkter{
    height:100vh;
    width:75vw;
    background-color:lightgray;
    position:relative;
    top:-59vh;
    left:20.8vw;
    outline-style: solid;
}
.topmenu{
    width:10vw;
    height:5vh;
    left:31vw;
    top:-24vh;
    position:relative;
}
.topmenu a{
    text-decoration:none;
    font-size:18px;
    color:black;
    background-color:#eee;
    display:block;
}
.topmenu2{
    width:10vw;
    height:5vh;
    left:53.5vw;
    top:-29vh;
    position:relative;
}
.topmenu2 a{
    text-decoration:none;
    font-size:18px;
    color:black;
    background-color:#eee;
    display:block;
}
.topmenu3{
    width:10vw;
    height:5vh;
    left:75vw;
    top:-34vh;
    position:relative;
}
.topmenu3 a{
    text-decoration:none;
    font-size:18px;
    color:black;
    background-color:#eee;
    display:block;
}
.menubackground{
    width:75vw;
    height:5vh;
    top:-39vh;
    left:20.8vw;
    position:relative;
    outline-style:solid;
    background-color:#eee;
    z-index:-1;
}
.top{
    width:93.4vw;
    height:15vh;
    background-color:lightgray;
    position:relative;
    left:2.6vw;
}
.sokruta{
    position: absolute;
    top:5vh;
    left:40vw;
    z-index:1;
}
.sok{
    position: absolute;
    width:40vw;
    height:5vh;
}
.logga{
    position:relative;
    top:-14vh;
    left:3vw;
}
.varukorg{
    position:relative;
    left:88vw;
    top:-27vh;
    width:5vw;
}
.dots{
    text-align:center;
}
.slideshow{
    max-width:50vw;
    position:relative;
    height:20vh;
    z-index:2;
}
.numbertext{
    color:black;
    font-size:10px;
    padding:8px 12px;
    position:absolute;
}
.dot{
    height:15px;
    width:15px;
    margin:0 2px;
    background-color:#bbb;
    border-radius:50%;
    display:inline-block;
    transition:background-color 0.6s ease;
}
.active{
    background-color:#717171;
}
.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}
.slideshowimage{
    display:none;
}
.slideshow{
    left:21vw;
    position:relative;
    top:-39vh;
}
