body{
    height:100%;
    width:90%;
}
.menu{
    width:20%;
}
.menu a{
    background-color:#eee;
    color:black;
    display:block;
    padding:12px;
    text-decoration:none;
}
.menu a:hover{
    background-color: #ccc;
}
.menu a:active{
    background-color:blue;
    color:white;
}