@font-face{
    font-family: text;
    src:url(BalsamiqSans-Bold.ttf);
}
.content{
    height:100vh;
    width:90vw;
}
.meny{
    height:14vh;
    width:92.98vw;
    margin-left:2.75vw;
    margin-top:1vh;
    background-color: #41b3a3;
    outline-style: solid;
}
.logga{
    position: absolute;
    margin-left:0%;
    margin-top:1.2%;
}
.bild{
    width:13%;
}
.sokruta{
    position: absolute;
    margin-top:7vh;
    margin-left:39.7vw;
}
.sok{
    position: absolute;
    width:40vw;
    height:5vh;
}
.varukorg{
    position: absolute;
    margin-left:80vw;
    margin-top:5vh;
    font-size:100%;
}
.menu{
    width:18vw;
    margin-left:2.68vw;
    margin-top:-1.5vh;
    position:relative;
}
.menu a{
    background-color:#55bcc9;
    color:black;
    display:block;
    padding:12px;
    text-decoration:none;
    outline-style:solid;
    outline-width:1px;
}
.menu a:hover{
    background-color: #97caef;
    color:black;
}
.menu a:active{
    background-color:#97caef;
    color:black;
}
.h2{
    background-color:#7395ae;
    display:block;
    width:18vw;
    height:13vh;
    position:relative;
    margin-top: 0.2vh;
    margin-left:2.7vw;
    outline-style:solid;
    outline-width:1.5px;
    line-height:225%;
    padding-left:1%;
}
ul.breadcrumbs{
    position: relative;
    list-style:none;
    margin-left:19vw;
    margin-top:-84vh;
    z-index: 10;
}
ul.breadcrumbs li{
    float:left;
    display: inline;
    
}
ul.breadcrumbs li+li:before{
    padding:4px;
    color:black;
    content: ">";

}
.varukorg2{
    position: relative;
    width:74.9vw;
    margin-left:20.83vw;
    margin-top:-87.3vh;
    background-color:#14a76c;
    outline-style: solid;
}
.tom{
    height:1vh;
}
.lista{
    width:60vw;
    height:10vh;
    margin-left:5vw;
    margin-top:6vh;
    background-color: rgb(90, 218, 158);
    outline-style: solid;
}
.img{
    width:5%;
    margin-left:1vw;
    margin-top:1.5vh;
}
.varunamn{
    width:10vw;
    margin-left:15vw;
    margin-top:-5vh;
}
.varupris{
    width:10vw;
    margin-left:40vw;
    margin-top:-3.8vh;
}
.button{
    margin-left:69vw;
    margin-top:3vh;
    width:5vw;
    height:3vh;
    background-color: aquamarine;
}

.btn{
    width:5vw;
    height:3vh;
    border-style:solid;
    border-width:0.1px 0.1px 0.1px 0.1px;
    background-color:rgb(184, 184, 224);
    border-radius: 5%;

}
.btn:hover{
    cursor: pointer;
}
.buy2{
    margin-left:54.9vw;
    margin-top: -0.3vh;
    padding:1px;
}
.btn2{
    width:5vw;
    height:3vh;
    font-size: small;
    border:none;
    background-color:rgb(224, 184, 184);
    border-radius: 0%;
    outline-style:solid;

}
.btn2:hover{
    cursor: pointer;
}
.tom2{
    height:5vh;
}