.content{
    height:100vh;
    width:99.7vw;
    margin-left:-1vw;
    margin-top:-1.3vh;
}
.meny{
    height:18%;
    width:100%;
    background-color: rgb(228, 228, 228);
    border-style: solid;
    border-width: 0px 0px 0.1px 0px;
    border-bottom-color: rgba(182, 182, 182, 0.753);
}
.logga{
    position: absolute;
    margin-left:0%;
    margin-top:1.2%;
}
.bild{
    width:13%;
}
.sokruta{
    position: absolute;
    margin-top:7vh;
    margin-left:39.7vw;
}
.sok{
    position: absolute;
    width:40vw;
    height:5vh;
}
.varukorg{
    position: absolute;
    margin-left:90vw;
    margin-top:5vh;
    font-size:100%;
}
.menu{
    position: absolute;
    width:50vw;
    height:5vh;
    margin-left:30vw;
    margin-top:12.9vh;
    background-color:white;
    border-style: solid;
    border-width: 0.1px 0.1px 0.1px 0.1px;
    border-bottom-color: rgba(233, 233, 233, 0.753);
}
.loggain{
    position: absolute;
    margin-top:-0.7%;
    margin-left:2%;
    text-decoration: none;
}
.loggain :hover{
    position: absolute;
    text-decoration: underline;
    width:5vw;
}
ul.breadcrumbs{
    list-style:none;
}
ul.breadcrumbs li{
    float:left;
    display: inline;
    
}
ul.breadcrumbs li+li:before{
    padding:4px;
    color:black;
    content: ">";

}
.varukorg2{
    position: relative;
    width:99.7vw;
    margin-top:7vh;
    background-color: rgb(241, 241, 241);
}
.tom{
    height:1vh;
}
.lista{
    width:60vw;
    margin-left:10vw;
    margin-top:6vh;
    background-color: rgb(172, 172, 172);
}
.img{
    width:15%;
    margin-top:0.1vh;;
}
.varunamn{
    margin-left:15vw;
    margin-top:-9vh;
}
.varupris{
    margin-left:55vw;
    margin-top:-4.5vh;
}
.button{
    margin-left:90vw;
    margin-top:2vh;
    width:5vw;
    height:3vh;
    background-color: aquamarine;
}

.btn{
    width:5vw;
    height:3vh;
    border-style:solid;
    border-width:0.1px 0.1px 0.1px 0.1px;
    background-color:rgb(184, 184, 224);
    border-radius: 5%;

}
.btn:hover{
    cursor: pointer;
}
.buy2{
    margin-left:55vw;
}
.btn2{
    width:5vw;
    height:3vh;
    border-style:solid;
    border-width:0.1px 0.1px 0.1px 0.1px;
    background-color:rgb(224, 184, 184);
    border-radius: 0%;

}
.btn2:hover{
    cursor: pointer;
}
.tom2{
    height:5vh;
}