.content{
    height:120vh;
    width:99.7vw;
    margin-left:-1vw;
    margin-top:-1.3vh;
}
.meny{
    height:15%;
    width:100%;
    background-color: rgb(228, 228, 228);
    border-style: solid;
    border-width: 0px 0px 0.1px 0px;
    border-bottom-color: rgba(182, 182, 182, 0.753);
}
.logga{
    position: absolute;
    margin-left:0%;
    margin-top:1.2%;
}
.bild{
    width:13%;
}
.sokruta{
    position: absolute;
    margin-top:6vh;
    margin-left:39.7vw;
}
.sok{
    position: absolute;
    width:40vw;
    height:5vh;
}
.varukorg{
    position: absolute;
    margin-left:90vw;
    margin-top:5vh;
    font-size:100%;
}
.menu{
    position: absolute;
    width:50vw;
    height:5vh;
    margin-left:30vw;
    margin-top:12.7vh;
    background-color:white;
    border-style: solid;
    border-width: 0.1px 0.1px 0.1px 0.1px;
    border-bottom-color: rgba(233, 233, 233, 0.753);
}
.loggain{
    position: absolute;
    margin-top:-0.7%;
    margin-left:2%;
    text-decoration: none;
}
.loggain :hover{
    position: absolute;
    text-decoration: underline;
    width:5vw;
}
.varukorg2{
    width:100%;
    height:60vh;
    background-color: rgb(241, 241, 241);
}
.lista{
    position: absolute;
    width:60vw;
    height:20vh;
    margin-left:10vw;
    margin-top:5vh;
    background-color: rgb(172, 172, 172);
}
.img{
    width:20%;
    margin-top:3vh;
}
.varunamn{
    margin-left:15vw;
    margin-top:-10vh;
}