.content{
    height:100vh;
    width:90vw;
}
.meny{
    height:14vh;
    width:92.98vw;
    margin-left:2.75vw;
    margin-top:2.5vh;
    background-color: #41b3a3;
    outline-style: solid;
}
.logga{
    position: absolute;
    margin-left:2.25vw;
    margin-top:1vh;
}
.bild{
    width:11.5%;
}
.sokruta{
    position: absolute;
    margin-top:6vh;
    margin-left:39.7vw;
}
.sok{
    position: absolute;
    width:40vw;
    height:5vh;
}
.topmenu{
    width:5vw;
    height:5vh;
    margin-left:70.24vw;
    margin-top:-1.5vh;
    position:relative;
}
.topmenu a{
    text-decoration:none;
    font-size:14px;
    color:black;
    display:block;
}
.topmenu2{
    width:4.2vw;
    height:5vh;
    margin-left:78.25vw;
    margin-top:-5vh;
    position:relative;
}
.topmenu2 a{
    text-decoration:none;
    font-size:14px;
    color:black;
    display:block;
}
.topmenu3{
    width:7.3vw;
    height:5vh;
    margin-left:85.25vw;
    margin-top:-5vh;
    position:relative;
}
.topmenu3 a{
    text-decoration:none;
    font-size:14px;
    color:black;
    display:block;
}
.varukorg{
    position: absolute;
    margin-left:87.25vw;
    margin-top:4.89vh;
}
.varukorg a{
    height:1vh;
    width:1vw;
    display:block;
}
.varukorgimage{
    height:690%;
}

.h2{
    background-color:#7395ae;
    display:block;
    width:17.06vw;
    height:13vh;
    position:relative;
    margin-top: 0.2vh;
    margin-left:2.7vw;
    outline-style:solid;
    outline-width:1.5px;
    line-height:225%;
    padding-left:1%;
    text-align: left;
    padding-left: 0.9vw;
}
.menu{
    width:17.09vw;
    margin-left:2.68vw;
    margin-top:-3.3vh;
    position:relative;
}
.menu a{
    background-color:#55bcc9;
    color:black;
    display:block;
    padding:12px;
    text-decoration:none;
    outline-style:solid;
    outline-width:1px;
}
.menu a:hover{
    background-color: #97caef;
    color:black;
}
.menu a:active{
    background-color:#97caef;
    color:black;
}
.relaterade{
    width:15.78vw;
    height:60vh;
    margin-left:19.8vw;
    margin-top:-84.6vh;
    font-size:small;
    background-color:#43c79f;
    outline-style: solid;
}
.reltext{
    margin-left:3vw;
}
.objekt{
    width:100%;
    height:10vh;
    margin-top:0.1vh;
    background-color: rgb(228, 228, 228);
    border-style: solid;
    border-width: 0px 0px 0.1px 0px;
    border-bottom-color: rgba(199, 199, 199, 0.753);
    transition: box-shadow 0.6s ease-in-out;
}
.objekt:hover{
    box-shadow: 2px 2px 20px rgba(87, 87, 87, 0.747) ;
}
.img{
    width:5vw;
    height:5vh;
    margin-top:2vh;
}
.spelnamn{
    margin-left:5vw;
    margin-top:-50%;
    text-decoration:none;
    color:black;
    padding-left:10%;
    z-index: 10;
}
.relateradHolder{
    width:100%;
    font-size:100%;
    margin-top:30%;
    text-decoration:none;
}
.produktinfo{
    width:60vw;
    height:80vh;
    margin-left:35.74vw;
    margin-top:-61.8vh;
    background-color:#14a76c;
    outline-style: solid;
}
.prodnamn{
    margin-left:1vw;
}
.bild2{
    width:20vw;
    height:40vh;
}
.img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
    overflow:hidden;
}
.info{
    width:70%;
    height:50%;
    margin-top:-50vh;
}
.data{
    width:70%;
    height:20%;
    margin-left:22vw;
}
.rightDATA{
    width:50%;
    height:100%;
    float:right;
    margin-top:-6.7%;
}
.addToVarukorg{
    width:60%;
    height:30%;
    color:white;
    border-style: none;
    background-color:#338856;
    border-radius: 5%;
    font-size:100%;
    transition: 0.5s ease-in-out;
    margin-top:30%;
    outline-style: solid;
    outline-color: black;
}
.addToVarukorg:hover{
    cursor: pointer;
    background-color:rgba(79, 134, 43, 0.507);
}
.text2{
    width:30vw;
    text-align: left;
    margin-left:20vw;
    margin-top:-30vh;
}
.pris{
    margin-left:1vw;
}