.buttonTEST{
    border: none;
}
.content{
    height:100vh;
    width:90vw;
}
.meny{
    height:14vh;
    width:92.98vw;
    margin-left:2.75vw;
    margin-top:1vh;
    background-color: #41b3a3;
    outline-style: solid;
}
.logga{
    position: absolute;
    margin-left:0%;
    margin-top:1.2%;
}
.bild{
    width:13%;
}
.sokruta{
    position: absolute;
    margin-top:6vh;
    margin-left:40vw;
}
.sok{
    position: absolute;
    width:40vw;
    height:5vh;
}
.varukorg{
    position:relative;
    margin-left:90vw;
    margin-top:22vh;
}
.varukorg a{
    height:40px;
    width:40px;
    display:block;
    position:relative;
}
.varukorgimage{
    height:40px;
}
.Kategori{
    width:18vw;
    height:13vh;
}
.h2{
    background-color:#7395ae;
    display:block;
    width:100%;
    height:13vh;
    position:relative;
    margin-top: 0.2vh;
    margin-left:2.7vw;
    outline-style:solid;
    outline-width:1.5px;
    line-height:225%;
    padding-left:1%;
}
.menu{
    width:18.06vw;
    margin-left:2.68vw;
    margin-top:-1.7vh;
    position:relative;
}
.menu a{
    background-color:#55bcc9;
    color:black;
    display:block;
    padding:12px;
    text-decoration:none;
    outline-style:solid;
    outline-width:1px;
}
.menu a:hover{
    background-color: #97caef;
    color:black;
}
.menu a:active{
    background-color:#97caef;
    color:black;
}
.laggtill{
    margin-top:-7.6vh;
    margin-left:91.6vw;
}
.laggtill2{
    color: rgb(255, 255, 255);
    background-color:rgb(79, 134, 43);
    border-style:none;
    width:5vw;
    height:3vh;
    border-radius: 5%;
}
.laggtill2:hover{
    background-color: rgb(64, 105, 39);
    cursor: pointer;
}
ul.breadcrumbs{
    position: absolute;
    list-style:none;
    margin-top:-12vh;
    margin-left:20vw;
    z-index: 10;
}
ul.breadcrumbs li{
    float:left;
    display: inline;
    
}
ul.breadcrumbs li+li:before{
    padding:4px;
    color:black;
    content: ">";

}
.produkter{
    position: relative;
    overflow: scroll;
    overflow: hidden;
    width:74.9vw;
    margin-left:20.83vw;
    margin-top:-12.9vh;
    background-color:#14a76c;
    outline-style: solid;
}
.tom{
    height:1vh;
}
.lada{
    position: relative;
    width:15vw;
    height:43vh;
    float:left;
    margin-left:7vw;
    margin-top:6vh;
    background-color: rgb(90, 218, 158);
    outline-style: solid;
    text-decoration: none;
}
.ruta{
    width:90%;
    height:50%;
    margin-left:0.7vw;
    margin-top:1.5vh;
}
.namn{
    height:1vh;
    margin-left:1vw;
    margin-top:2vh;
}
.pris{
    margin-left:1vw;
    margin-top:9vh;
}
.lada:hover{
    box-shadow: 2px 2px 20px rgba(87, 87, 87, 0.747) ;
}
.tom2{
    height:5vh;
    margin-top:50vh;
}
